.modal-container{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 98, 158, 0.3);
}

.modal1{
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 50%;
}

.modal1 .submit{
    display: block;
    margin: auto;
    margin-top: 1rem;
    border: none;
    background-color: #00a6e8;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
}
.form-group label {
    margin-bottom: 0.2rem;
}